.console-container {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.console-line {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.console-input-container {
  display: flex;
}

.console-input {
  background:none;
  border: none;
  font-family: monospace;
  color: var(--primaryFont);
  outline: none;
  width: 10vw;
  resize: none;
  font-size: var(--lsmdFontSize);
  text-decoration: none;
}
