/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgb(57, 57, 57);
  position: relative;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.main {
  width: 100dvw;
  height: 100dvh;
  font-size: var(--lsmdFontSize);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainDisplay {
  width: 95%;
  height: 95%;
  background: var(--primaryBg);
  border: 2px solid rgb(75, 75, 75);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 10px 10px 0px 10px;
}

.tabs span {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.tabs span:hover {
  background-color: var(--primaryHover);
}

.consoleImg,
.guiImg {
  width: 35px;
  height: 35px;
}

.active {
  background-color: var(--secondaryBg);
}

.mainScreen {
  height: 100%;
  margin: 0px 10px 10px 10px;
  border-radius: 0px 0px 8px 8px;
  padding: 10px;
  background-color: var(--secondaryBg);
  overflow: scroll;
} */





/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: rgb(57, 57, 57);
  position: relative;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.main {
  width: 100dvw;
  height: 100dvh;
  font-size: var(--lsmdFontSize);
  display: flex;
  align-items: center;
  justify-content: center;
} */









.main {
  font-family: monospace;
  width: 100dvw;
  height: 100dvh;
  font-size: var(--lsmdFontSize);
  display: flex;
  align-items: center;
  justify-content: center;
}