:root {
  font-family:monospace;
  font-weight: 400;

  /* font size */
  --lslgFontSize: 24px;
  --lsmdFontSize: 18px;
  --lssmFontSize: 14px;

  /* background colors */
  --primaryBg: rgb(30, 30, 30);
  --secondaryBg: rgb(10, 10, 10);
  --tertiaryBg: rgb(67, 255, 67);
  
  /* font colors */
  --primaryFont: rgb(117, 204, 29);
  --secondaryFont: rgb(210, 210, 210);
  --tertiaryFont: rgb(159, 159, 159);
  
  /* hovers */
  --primaryHover: rgb(54, 54, 54);


  /* shades */
  --green300: rgb(137, 255, 137);
  --green500: rgb(22, 255, 22);
  --green800: rgb(5, 65, 5);


  font-size: var(--lslgFontSize);
  background-color: var(--secondaryBg);
  color: var(--primaryFont);
}

::selection {
  background-color: var(--green800);
}